# Server Configuration
PORT=3000

# Database Configuration (Future)
# DB_URI=your_database_uri

# M-Pesa API Credentials (Future)
# MPESA_CONSUMER_KEY=your_consumer_key
# MPESA_CONSUMER_SECRET=your_consumer_secret
# MPESA_SHORTCODE=your_shortcode
